@page "/PortfolioProgress"

@using PMaP.Data
@inject IHomeService HomeService
@inject IStringLocalizer<PortfolioProgress> localizer

<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <p style="color:#336699;">@localizer["EvolucionDeLaCartera"]</p>
        </li>
    </ul>
</div>
<br />


<div class="row">
    <div class="col">
        <div class="card card-primary">
            <div class="card-header" style="background-color:#0066ff">
                <div class="caption"><font color="white">@localizer["Cartera"]</font></div>
            </div>
            <div class="card-body" style="background-color:#e6f0ff">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-2">
                            <label>@localizer["Portfolio"]</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Better</option>
                                <option>CarVen2</option>
                                <option>CarVen3</option>
                                <option>Voyager</option>
                                <option>Galerna</option>
                                <option>Makalu</option>
                                <option>Challenger-Coliseum</option>
                                <option>Vento</option>
                                <option>Explorer</option>
                                <option>Higgs</option>
                                <option>Aurora</option>
                                <option>Siroco</option>
                                <option>Garbi</option>
                                <option>Triton</option>
                                <option>Auster</option>
                                <option>Cadi</option>
                                <option>Empire</option>
                                <option>Chloe</option>
                                <option>Traveller</option>
                                <option>Corus</option>
                                <option>Gregal</option>
                                <option>Pirene</option>
                                <option>Normandia</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">@localizer["Subporfolio"]</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Selecionar</option>
                                <option>SubVenCar</option>
                                <option>Pera</option>
                                <option>Sandi</option>
                                <option>Betz</option>
                                <option>Lacour</option>
                                <option>Kelvin</option>
                                <option>Challenger-Coliseum-1</option>
                                <option>Challenger-Coliseum-2</option>
                                <option>Challenger-Coliseum-3</option>
                                <option>Challenger-Coliseum-4</option>
                                <option>Explorer</option>
                                <option>Higgs1</option>
                                <option>Higgs2</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">@localizer["DataTape"]</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>Cut off</option>
                                <option>Post-Cut off</option>
                                <option>Signing</option>
                                <option>Post-Signing</option>
                                <option>Closing</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">@localizer["FDataTape"]</label>
                            <select class="form-control" onchange="submitForm()">
                                <option>2020-12-02</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label for="Portfolio">@localizer["FProceso"]</label><input type="text" class="form-control" readonly="readonly" value="">
                        </div>

                        <div class="col-md-1">
                            <a href="#">
                                <button class="btn btn-success">
                                    <i class="fa fa-search"></i>&nbsp;&nbsp;@localizer["Calcular"]
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <br><br>

                <div class="row">
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">@localizer["InformacionContratos"]</h4><br>
                        <label>@localizer["NoContratosNuevos"]&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 2">
                        <label>@localizer["NoContratosEliminados"]&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">@localizer["InformacionParticipantes"]</h4><br>
                        <label>@localizer["NoParticipantesNuevos"]&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                        <label>@localizer["NoParticipantesEliminados"]&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                    <div class="col-md-3">
                        <h4 class="border-bottom border-info text-left">@localizer["InformacionJudicialYConcursal"]</h4><br>
                        <label>@localizer["NoCambiosJudiciales"]&nbsp;&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 2">
                        <label>@localizer["NoCambiosConcursales"]&nbsp;&nbsp;</label><input placeholder="" type="text" class="hide-when-small" style="flex: 1">
                    </div>
                </div>
                <br><br>
            </div>  <!-- /.card body -->
        </div> <!-- /.card-primary -->
    </div>    <!-- /.coll -->
</div>  <!-- /.row -->
<br>
<br>

<div class="Tabs" style="display: block;">

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="/">@localizer["Contratos"]</a>
        </li>
        <li class="">
            <a href="#">@localizer["Participantes"]</a>
        </li>
        <li class="">
            <a href="#">@localizer["ProcedimientosJudiciales"]</a>
        </li>
        <li class="">
            <a href="#">@localizer["Concursos"]</a>
        </li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12 mts">
        <table class="table table-striped table-responsive table-bordered" style="background-color:#e6e6e6;">
            <thead>
                <tr class="heading" style="color:#336699;">
                    <th>@localizer["Check"]</th>
                    <th>@localizer["IDContrato"]</th>
                    <th>@localizer["EstadoPerforming"]</th>
                    <th>@localizer["TipoDeuda"]</th>
                    <th>@localizer["IDTitularPrincipal"]</th>
                    <th>@localizer["NoParticipantes"]</th>
                    <th>@localizer["NoFiadores"]</th>
                    <th>@localizer["TotalOB"]</th>
                    <th>@localizer["Divisa"]</th>
                    <th>@localizer["CapitalVencido"]</th>
                    <th>@localizer["CapitalPendiente"]</th>
                    <th>@localizer["InteresesOrdinarios"]</th>
                    <th>@localizer["InteresesDeDemora"]</th>
                    <th>@localizer["CuotasImpagadas"]</th>
                    <th>@localizer["CuotasPendientes"]</th>
                    <th>@localizer["LTVActual"]</th>
                    <th>@localizer["Novacion"]</th>
                    <th>@localizer["FechaNovacion"]</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="submit" class="fa fa-check-circle" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn  btn-xs btn-danger" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><input type="submit" class="btn  btn-xs btn-danger" value=""></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </div>  <!-- /.scroll -->


</div> <!-- /.coll -->


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var model = await HomeService.PortfolioComposition();
        }
    }
}
