@using PMaP.Models.DBModels
@inject IJSRuntime JSRuntime

<div class="row">
    <div class="col-md-12 mts">
        <div id="tableTopScroll" style="overflow-x: auto; overflow-y: hidden; border: none 0px RED;" @onscroll="OnTopScroll">
            <div style="width: 930px; overflow-x: hidden; overflow-y: hidden; height:20px;"></div>
        </div>
        <div style="overflow-x: hidden; overflow-y: hidden; border: none 0px RED;">
            <div id="tableView" style="overflow-y: auto;" @onscroll="OnScroll">
                <table class="table table-striped table-bordered" style="background-color:#e6e6e6;">
                    <thead>
                        <tr class="heading" style="color:#336699;">
                            <th>Investor name</th>
                            <th>Social address</th>
                            <th>Tax Identification</th>
                            <th>Mail</th>
                            <th>Telephone 1</th>
                            <th>Telephone 2</th>
                            <th>IBAN</th>
                            <th>Bank</th>
                            @if (isAdd == "0")
                            {
                                <th></th>
                                <th><input type="checkbox" disabled></th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @if (Investors != null && Investors.Count() > 0)
                        {
                            foreach (var item in Investors)
                            {
                                <tr>
                                    <td>@item.InvestorName</td>
                                    <td>@item.SocialAddress</td>
                                    <td>@item.TaxIdentification</td>
                                    <td>@item.Mail</td>
                                    <td>@item.Telephone1</td>
                                    <td>@item.Telephone2</td>
                                    <td>@item.Iban</td>
                                    <td>@item.Bank</td>
                                    @if (isAdd == "0")
                                    {
                                        <td>
                                            <a class="btn btn-xs btn-primary" href="" @onclick:preventDefault>
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                        <td><input type="checkbox" disabled></td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string isAdd { get; set; }
    [Parameter]
    public List<Investor> Investors { get; set; }

    private async void OnTopScroll(EventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("onTopScroll");
    }

    private async void OnScroll(EventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("onScroll");
    }
}
