@using PMaP.Models.DBModels
@inject IJSRuntime JSRuntime
@inject IStringLocalizer<ParticipantsTable> localizer

<div class="row">
    <div class="col-md-12 mts">
        <div id="tableTopScroll" style="overflow-x: auto; overflow-y: hidden; border: none 0px RED;" @onscroll="OnTopScroll">
            <div id="scrollTop" style="overflow-x: hidden; overflow-y: hidden; height:20px;"></div>
        </div>
        <div style="overflow-x: hidden; overflow-y: hidden; border: none 0px RED;">
            <div id="tableView" style="overflow-y: auto;" @onscroll="OnScroll">
                <table id="tableId" class="table table-striped table-bordered" style="background-color:#e6e6e6;">
                    <thead>
                        <tr class="heading" style="color:#336699;">
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Contract"))">@localizer["Contract"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Contract"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Name"))">@localizer["Holder"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Name"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Identification"))">@localizer["Identification"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Identification"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("PersonType"))">@localizer["PersonType"]</span>
                                <span class="fa @(GetParticipantsSortStyle("PersonType"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("DebtorType"))">@localizer["DebtorType"]</span>
                                <span class="fa @(GetParticipantsSortStyle("DebtorType"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("BirthdayDate"))">@localizer["Birthdate"]</span>
                                <span class="fa @(GetParticipantsSortStyle("BirthdayDate"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Cno"))">@localizer["CNO"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Cno"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Cnae"))">@localizer["CNAE"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Cnae"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("CnaeDescription"))">@localizer["CNAEDescription"]</span>
                                <span class="fa @(GetParticipantsSortStyle("CnaeDescription"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Address"))">@localizer["Address"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Address"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("City"))">@localizer["City"]</span>
                                <span class="fa @(GetParticipantsSortStyle("City"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Province"))">@localizer["Province"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Province"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Region"))">@localizer["Region"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Region"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("ZipCode"))">@localizer["ZipCode"]</span>
                                <span class="fa @(GetParticipantsSortStyle("ZipCode"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Country"))">@localizer["Country"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Country"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Nationality"))">@localizer["Nationality"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Nationality"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Resident"))">@localizer["Resident"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Resident"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Telephone1"))">@localizer["Telephone1"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Telephone1"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Telephone2"))">@localizer["Telephone2"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Telephone2"))"></span>
                            </th>
                            <th>
                                <span class="sort-link" @onclick="@(() => SortParticipantsTable("Email"))">@localizer["Email"]</span>
                                <span class="fa @(GetParticipantsSortStyle("Email"))"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Participants != null && Participants.Count() > 0)
                        {
                            foreach (var item in Participants)
                            {
                                string possitiveStyle = item.ContractNavigation?.TotalAmountOb > 0 ? "background-color: #a9f7a9;" : "";
                                <tr style="@possitiveStyle">
                                    <td>@item.Contract</td>
                                    <td>@item.Name</td>
                                    <td>@item.Identification</td>
                                    <td>@item.PersonType</td>
                                    <td>@item.DebtorType</td>
                                    <td>@(item.BirthdayDate?.ToString("yyyy-MM-dd"))</td>
                                    <td>@item.Cno</td>
                                    <td>@item.Cnae</td>
                                    <td>@item.CnaeDescription</td>
                                    <td>@item.Address</td>
                                    <td>@item.City</td>
                                    <td>@item.Province</td>
                                    <td>@item.Region</td>
                                    <td>@item.ZipCode</td>
                                    <td>@item.Country</td>
                                    <td>@item.Nationality</td>
                                    <td>@item.Resident</td>
                                    <td>@item.Telephone1</td>
                                    <td>@item.Telephone2</td>
                                    <td>@item.Email</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public List<Participant> Participants { get; set; }

    private string currentParticipantsSortColumn;
    private bool isParticipantsSortedAscending;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setScrollTopWidth");
        }
    }

	private async void OnTopScroll(EventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("onTopScroll");
    }

    private async void OnScroll(EventArgs e)
    {
        await JSRuntime.InvokeVoidAsync("onScroll");
    }

    private void SortParticipantsTable(string columnName)
    {
        var items = Participants;

        if (columnName != currentParticipantsSortColumn)
        {
            items = items.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            currentParticipantsSortColumn = columnName;
            isParticipantsSortedAscending = true;
        }
        else
        {
            if (isParticipantsSortedAscending)
            {
                items = items.OrderByDescending(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }
            else
            {
                items = items.OrderBy(x => x.GetType().GetProperty(columnName).GetValue(x, null)).ToList();
            }

            isParticipantsSortedAscending = !isParticipantsSortedAscending;
        }

        Participants = items;

        StateHasChanged();
    }

    private string GetParticipantsSortStyle(string columnName)
    {
        if (currentParticipantsSortColumn != columnName)
        {
            return string.Empty;
        }
        if (isParticipantsSortedAscending)
        {
            return "fa-sort-up";
        }
        else
        {
            return "fa-sort-down";
        }
    }
}
