@page "/certificates/formGeneration"

@using PMaP.Data
@inject IHomeService HomeService
@inject IStringLocalizer<FormGeneration> localizer

<div class="col-md-12">
    <ul class="page-breadcrumb breadcrumb">
        <li>
            <p style="color:#336699;">@localizer["Certificados"]</p>
        </li>
    </ul>
</div>

<div class="col-md-12">
    <div class="Tabs" style="display: block;">       
	    <ul class="nav nav-tabs">
		    <li class="active">
			    <a href="#">@localizer["CrearPlantillaNueva"]</a>
		    </li>
		    <li class="">
			    <a href="#">@localizer["ModificarPlantilla"]</a>
		    </li>
	    </ul>
    </div>
</div>
<br />
<div class="row">
    <div class="col"> 
        <div class="col-md-12">
            <label for="country">@localizer["Portfolio"]</label>
            <select id="country" name="country" class="form-control">
                <option value="australia">Subportfolio</option>
                <option value="australia">Higgs</option>
                <option value="canada">Vento</option>
                <option value="usa">Explorer</option>
            </select>
        
            <label for="country">@localizer["TipoDeCertificado"]</label>
            <select id="country" name="country" class="form-control">
                <option value="australia">@localizer["TipoDeCertificado"]</option>
                <option value="australia">@localizer["CertificadoDeCesion"]</option>
                <option value="canada">@localizer["CertificadoDeSaldo"]</option>
                <option value="canada">@localizer["CertificadoDeSaldoProcesosJudiciales"]</option>
            </select>
          
            <label for="fechven1">@localizer["SubtipoDeCertificado"]</label>
            <input type="text" id="fechven1" name="fechven1" placeholder="@localizer["SubtipoDeCertificado"]" class="form-control">
                
            <br /><br />

            <div class="card-card-primary" style="width:100%"></div>
                  
            <h5 class="border-bottom border-info text-left">@localizer["SeleccionDeVariables"]</h5><br>
        
            <label for="fname">@localizer["Titulo"]</label>
            <input type="text" id="fname" name="firstname" placeholder="@localizer["Titulo"]" class="form-control">
          
            <div class="col-md-6"> 
                <label for="country">@localizer["Apoderado"]</label>
                <select id="country" name="country" class="form-control">
                    <option value="australia">Alejo Garcia Grech</option>
                </select>
            </div>
            <div class="col-md-6"> 
                <label for="titulo1">@localizer["DNIApoderado"]</label>
                <input type="text" id="titulo1" name="titulo1" placeholder="48372616M" readonly="readonly" class="form-control">
            </div>

            <label for="fechven1">@localizer["Inversor"]</label>
            <input type="text" id="fechven1" name="fechven1" placeholder="@localizer["Inversor"]" class="form-control">
            
            <label for="lname">C2. @localizer["NombreApoderado"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["NombreApoderado"]" class="form-control">
                  
            <label for="lname">C3. @localizer["DNIApoderado"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["DNIApoderado"]" class="form-control">
                  
            <label for="lname">C4. @localizer["Direccion"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["Direccion"]" class="form-control">
                  
            <label for="lname">C5. @localizer["CIF"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["CIF"]" class="form-control">

            <label for="subject">C6. @localizer["InformacionDelNotario"]</label>
            <textarea id="subject" name="subject" placeholder="@localizer["InformacionDelNotarioPlaceHolder"]" style="height:100px" class="form-control"></textarea>
                  
            <label for="lname">C7. @localizer["Sociedad"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["Sociedad"]" class="form-control">

            <label for="lname">C8. @localizer["Originados"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["Originados"]" class="form-control">

            <label for="lname">C9. @localizer["Quitas"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["Quitas"]" class="form-control">
                  
            <label for="subject">C10. @localizer["Texto"]</label>
            <textarea id="subject" name="subject" placeholder="@localizer["TextoPlaceHolder"]" style="height:100px" class="form-control"></textarea>
                  
            <label for="lname">C11. @localizer["Localidad"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["Localidad"]" class="form-control">

            <label for="lname">C12. @localizer["FechaDeLaVenta"]</label>
            <input type="text" id="lname" name="lastname" placeholder="@localizer["FechaDeLaVenta"]" class="form-control">

            <label for="subject">C13. @localizer["TextoPieDePagina"]</label>
            <textarea id="subject" name="subject" placeholder="@localizer["TextoPieDePagina"]" style="height:100px" class="form-control"></textarea>

            <br />
            <input type="submit" class="btn btn-primary" value="@localizer["Guardar"]">
            <input type="submit" class="btn btn-primary" value="@localizer["GenerarPlantilla"]">
            <input type="submit" class="btn btn-primary" value="@localizer["DescargarCertificados"]">
        </div>
    </div>
    <br/>
    <div class="col">
        <div class="col-md-12">
            <object data="MR343.pdf" type="application/pdf" width="600" height="880">
                <p>Alternative text - include a link <a href="MR343.pdf">to the PDF!</a></p>
            </object>
        </div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var model = await HomeService.PortfolioComposition();
        }
    }
}
